*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'FF Dusha Arabic' ;
}
.text{
    display:flex;
    color: aliceblue;
    margin: 30px;
    font-size: 45px;
    font-family: 'FF Dusha Arabic';
}
.em{
   
    color: aliceblue;
    margin-right: 10px;
    font-family: 'FF Dusha Arabic';
    font-size: 20px;
   
}
.pas{
    
    color: aliceblue;
    margin-right: 10px;
    font-family: 'FF Dusha Arabic';
    font-size: 20px;
}
.sub{
    margin: 50px;
    padding: 10px;
}
#sbmt{
  
    display: flex;
    background: none;
    color:  aliceblue;
    margin: 50px 30px 10px 0px;
    padding: 5px 8px ;
    font-family: 'FF Dusha Arabic';
    font-size: 20px;
}
#sign{
    border: 2px solid grey;
    margin-top: 10px;
    margin-right: 70px;
    font-family: 'FF Dusha Arabic';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background: none;
}
#pass{   
    border: 2px solid grey;
    margin-top: 10px;
    margin-right: 70px;
    font-family: 'FF Dusha Arabic';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background: none;
}



